body {
	padding-bottom: 70px;
/*	background-color: #290629;
	color: #ffffff;*/
}

html {
  position: relative;
    min-height: 100%;
}

#login-modal {
  display: block;
}

#map {
  height: 500px;
  width: 750px;
}

#logout-user {
	display: none;
}

#userdisplayname {
	display: none;
}

#footer {
  position: absolute;
  bottom: 0;
  text-align: center;
}

#addFavorites {
    display: none;
	position: absolute;
	bottom: 0;
	text-align: center;
}

/*.row {
	border: 2px solid #ccc; 
}*/

