body {
	padding-bottom: 70px
}

html {
	position: relative;
    min-height: 100%;
}

#map {
  height: 500px;
  width: 750px;
}

#footer {
	position: absolute;
	bottom: 0;
	text-align: center;
}

#addFavorites {
    display: none;
}